<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Course"
            android:label="@string/title_activity_course"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.myapplication.Course" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>



        <activity
            android:name=".Task"
            android:label="@string/title_activity_task"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="com.example.myapplication.Task" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>



        </activity>
        <activity
            android:name=".starttime"
            android:label="@string/title_activity_starttime"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.myapplication.starttime" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".EndTime"
            android:label="@string/title_activity_end_time"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.myapplication.EndTime" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Deadline"
            android:label="@string/title_activity_deadline"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.myapplication.Deadline" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>

</manifest>
